.contact-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    padding-bottom: 200px;
}

.contact-title {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form {
    background-color: #242424;
    padding: 20px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact_input {
    border: none;
    background: #444444;
    outline: none;
    color: white;
    border-radius: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #444444;
    border-radius: 4px;
    background-color: #444444;
    color: white;
}

textarea {
    resize: vertical;
}

.submit-button {
    background-color: #444444;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.contact-info {
    background-color: #242424;
    padding: 20px;
    border-radius: 8px;
}
